@import url(https://fonts.googleapis.com/css2?family=Manrope);

html {
  overflow-x: hidden;
}

body {
  font-family: 'Manrope', sans-serif;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 58px;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 40px;
}

h5 {
  font-size: 32px;
}

h6 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.p-18 {
  font-size: 18px;
}

.p-16 {
  font-size: 16px;
}

.p-12 {
  font-size: 12px;
}

.w-80 {
  width: 80%;
}


@media (max-width: 992px) {
  .w-80 {
    width: 100%;
  }
}



/* ----------------------- */



.bg-about {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  min-height: 624px;
  /* Create a linear gradient as an overlay */
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/public/images/fd9e5129c112c80e623652e6e9ac83c2.png");
}

.bg-about2 {
  background-color: rgba(32, 29, 29, 0.9);
  color: white;
}

.footer {
  background-color: #222020;
  color: white;
}